<%= render partial: 'ingredients/ingredient_list_item', collection: @ingredients %>
<% if logged_in? %>
    <button id="add-button">+</button>
    <%= render 'ingredients/ingredient_form' %>
<% end%>
