<%= @ingredient.name %>
<p>
</p>
<div id = "submit_image"> <%= render partial: 'images/image_form', locals: {depicted: @ingredient} %> </div>
<% @ingredient.images.order(:rating).each do |image| %>
    <%= image_tag image.path_url.to_s %>
<% end %>

